.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.bg-gradient-orange {
    color: white;
}
.bg-orange {
    color: white !important;
}
.btn-orange {
    color: white;
}

.bg-tec {
    color: white !important;
    background-color: #032b5c !important;
}

.active {
    color: white;
    background-color: #037912 !important;
}

.hide_column {
    display: none;
}

.seleccionado {
    color: white !important;
    background-color: #037912 !important;
    border-color: #dee2e6 #dee2e6 #ffffff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #56d356;
}

.mrm {
    margin-right: 10px;
}


/*
.has-treeview .nav-treeview .nav-item:hover,
.has-treeview .nav-treeview .nav-item:focus {
    background-color: rgba(241, 185, 152, 0.87) !important;
    border-color: #f75c03 !important;
    color: #ffffff !important;
}*/

.punto {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    text-align: center;
    font-size: 15px;
}

#div_carga {
    position: absolute;
    /*top: 50%;
    left: 50%;
    */
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#cargador {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#textoc {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    margin-left: 20px;
}

.bg-green {
    background-color:     #085e0c !important;
}

.bg-gradient-green {
    background: #085e0c linear-gradient(180deg, #085e0c, #11b319) repeat-x !important;
}

.bg-green .btn-tool,
.bg-gradient-green .btn-tool,
.card-green:not(.card-outline) .btn-tool {
    color: rgba(255, 255, 255, 0.8);
}

.bg-green .btn-tool:hover,
.bg-gradient-green .btn-tool:hover,
.card-green:not(.card-outline) .btn-tool:hover {
    color: #ffffff;
    background-color: #92df92  !important;
}




.bg-green,
.bg-green>a {
    color: #ffffff !important;
}

.bg-green.btn:hover {
    border-color: #92df92 !important;
    color: #ececec;
}

.bg-green.btn:not(:disabled):not(.disabled):active,
.bg-green.btn:not(:disabled):not(.disabled).active,
.bg-green.btn:active,
.bg-green.btn.active {
    background-color: #92df92 !important;
    border-color: #92df92 !important;
    color: #ffffff;
}

.card.bg-green .bootstrap-datetimepicker-widget .table td,
.card.bg-green .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-green .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-green .bootstrap-datetimepicker-widget .table th {
    border: none;
}

.card.bg-green .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-green .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-green .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-green .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-green .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.second:hover {
    background: #92df92 !important;
    color: #ffffff;
}

.card.bg-green .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: #ffffff;
}

.card.bg-green .bootstrap-datetimepicker-widget table td.active,
.card.bg-green .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-green .bootstrap-datetimepicker-widget table td.active:hover {
    background: #92df92 !important;
    color: #ffffff;
}

.bg-gradient-green.btn:hover {
    border-color: #92df92 !important;
    color: #ececec;
}

.bg-gradient-green.btn:hover {
    background: #92df92 linear-gradient(180deg, #085e0c, #085e0c) repeat-x !important;
}

.bg-gradient-green.btn:not(:disabled):not(.disabled):active,
.bg-gradient-green.btn:not(:disabled):not(.disabled).active,
.bg-gradient-green.btn:active,
.bg-gradient-green.btn.active {
    border-color: #92df92;
    color: #ffffff;
}

.bg-gradient-green.btn:not(:disabled):not(.disabled):active,
.bg-gradient-green.btn:not(:disabled):not(.disabled).active,
.bg-gradient-green.btn:active,
.bg-gradient-green.btn.active {
    
    background: #085e0c linear-gradient(180deg, #085e0c, #11b319) repeat-x !important;
}

.titulo-fisioost{
    color: #5cdbcf !important;
    text-align: center !important;
    text-shadow: #085e0c !important;
    font-size: 45px !important;
    letter-spacing: 6px !important;
    display: block;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

    color: white;
    /*background-color: #384ded;*/
    background-color: #6e95df;
  }